{% extends 'layouts/base.html' %}

{% block title %}
    Congratulations!
{% endblock %}
{% block articletitle %}
    Congratulations!
{% endblock %}
{% block articlelead %}
    You have reset the database.
    Yes, you did it.
    Who's a good boy?
    You're a good boy!
    Ok now where did you put the backup before you reset the datab...
    What do you mean you didn't take a backup?
    Just kidding, this is only a test.
    We don't need backups here.
{% endblock %}
{% block aside %}
    Please like, follow, and subscribe to my channel on the Internet.
{% endblock %}