<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='master.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A website for me">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<article>
    <h1>
        {% block articletitle %}{% endblock %}
    </h1>
    <p>
        {% block articlelead %}{% endblock %}
    </p>
</article>
<aside>
    {% block aside %}{% endblock %}
</aside>
<footer>
    <ul>
        <li><a href="/api/v0/my_message/add">Add a new random message</a></li>
        <li><a href="/api/v0/my_message/first">See the first message</a></li>
    </ul>
</footer>
</body>
</html>
