body{
    background-color: #000000;
    color: #E3F2FD;
}

table, tr, td {
    border: 1px inset #E3F2FD;
    border-collapse: collapse;
    border-spacing: 0;
}

td:hover {
    border: 1px solid #607D8B;
}

.article-title {
    text-transform: uppercase;
}